{% load i18n %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

<div hx-target="#mission_table"
    hx-trigger="load"
    hx-get="{% url 'settingsdb:mission_filter_list_missions' %}">
{% if mission_filter_form %}
<form class="form-control mt-2"
    hx-target="#mission_table"
    hx-trigger="db_dir_changed from:body"
    hx-post="{% url 'settingsdb:mission_filter_list_missions' %}">
        {% crispy mission_filter_form %}
    <div id="div_id_mission_table_alert"></div>
</form>
{% endif %}
    {% block mission_table_block %}
<table id="mission_table" class="table table-sm" >
    <thead>
    <tr>
        <th class="col">Name</th>
        <th class="col">Start Date</th>
        <th class="col">End Date</th>
        <th class="col">Biochem Table</th>
        <th class="col-auto">{# mission details #}</th>
    </tr>
    </thead>

    <tbody>
    {% for mission_dict in missions %}
        {%  with mission=mission_dict.mission database=mission_dict.database%}
            {% if database and mission %}
        <tr class="table-row" id="tr_id_mission_{{ database }}">
            <td>{{ mission.name }}</td>
            <td>{% if mission.start_date %}{{ mission.start_date }}{% endif %}</td>
            <td>{% if mission.end_date %}{{ mission.end_date }}{% endif %}</td>
            <td>{{ mission.biochem_table }}</td>

            {% if mission.requires_migration %}
            <td>
                Dart Version: {{ mission_dict.version }}
                <button id="btn_id_migrate_{{ mission.name }}" type="button" class="btn btn-danger" title="{% trans "Database requires migrations before it can be read" %}"
                        hx-target="#btn_id_migrate_{{ mission.name }}" hx-swap="outerHTML" hx-get="{% url 'settingsdb:migrate_database' mission.name %}"
                        hx-confirm="{% trans 'Make sure the database is backed up before running migrations to update the database model' %}">{% custom_icon 'arrow-clockwise' %}</button>
            </td>
            {% else %}
            <td>
                <a id="a_id_edit_mission" class="btn btn-primary" href="{% url 'core:mission_edit' database mission.id %}" title="{% trans 'Mission Details' %}">{% custom_icon 'gear' %}</a>
                <a id="a_id_edit_mission_events" class="btn btn-primary" href="{% url 'core:mission_events_details' database mission.id %}" title="{% trans 'Events' %}">{% custom_icon 'calendar3-range' %}</a>
                <a class="btn btn-primary" href="{% url 'core:mission_samples_sample_details' database mission.id %}" title="{% trans 'Samples' %}">{% custom_icon 'beaker' %}</a>
                <a class="btn btn-primary" href="{% url 'core:mission_plankton_plankton_details' database mission.id %}" title="{% trans 'Plankton' %}">{% custom_icon 'plankton' %}</a>
            </td>
            {% endif %}
        </tr>
        {% endif %}
        {% endwith %}
    {% endfor %}
    </tbody>
</table>
    {% endblock %}
</div>