# a real key should be used, but it's much less important for DART because it's not a publicly exposed application
SECRET_KEY=fakekey

DEBUG=false

# you can rename 'dart_local' to whatever you like if you wish to change it for a specific mission
LOCAL_DATABASE=dart_local.sqlite3

# Uncomment the following and put in your default database credentials here to select an added DB by default.
# BIOCHEM_DB_NAME=
# BIOCHEM_DB_USER=
# BIOCHEM_DB_PASS=