# we have to use Django3 because Django4 doesn't support Oracle12
Django>=4.1.0, != 4.2.0

# useful helper extensions for database fields and admin functions https://django-extensions.readthedocs.io/en/latest/index.html
django-extensions=3.2.1

# provides authentication/registration out of the box https://django-allauth.readthedocs.io/en/latest/
django-allauth==0.52.0

# daphne is a standalone python webserver used to run the Django application outside a development env.
daphne==3.0.2

# Whitenoise is used to track static content so that a user doesn't need to do 'python manage.py collectstatic'
# as a setup requirement
whitenoise>=6.5.0, != 6.6.0

# used to read environment variables in the settings.py file
django-environ~=0.9.0

# factory-boy and Faker are used for unit Testing
Faker==5.0.1
factory-boy==3.1.0

# CTD is used to process BTL and ROS files
ctd==1.4.2

# used for reading and producing xlsx files
openpyxl==3.0.10

# Corrects network issues on windows
PySocks==1.7.1

# time zone package
pytz~=2022.6

# math and data processing packages
numpy~=1.23
pandas~=1.5

# xlrd is for working with legacy excel (.xls) files
xlrd==2.0.1

# Connection to oracle database
cx_Oracle~=8.3