.selectedBg {
    --bs-table-striped-bg: #8fd19e;
    --bs-table-bg: #8fd19e;
}

.eventErr {
    --bs-table-striped-bg: #ff9c9c;
    --bs-table-bg: #ff9c9c;
}

.eventErr.selectedBg {
    --bs-table-striped-bg: #e27be5;
    --bs-table-bg: #e27be5;
}
