.tscroll {
    height: 400px;
    overflow: scroll;
}

.tscroll table {
    border-collapse: separate;
}

.tscroll table thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #b4b4b4;
}

.tscroll table thead th {
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: insert 0 2px 0 black, insert 0 -2px 0 black;
    padding: 4px 3px;
    background-color: #f3F3F3;
    background-clip: padding-box;
}


.tscroll table thead th:first-child {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: #FFF;
    border-top: none !important;
}

.tscroll tbody th:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #FFF;
}

table.dataframe table {
    border-collapse: separate;
    border-spacing: 0;
}

table.dataframe thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #b4b4b4;
}

table.dataframe thead th {
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: insert 0 2px 0 black, insert 0 -2px 0 black;
    padding: 4px 3px;
    background-color: #f3F3F3;
    background-clip: padding-box;
}

.vertical-scrollbar {
    position: relative;
    height: 400px;
    overflow-y: scroll;
}

.vertical-scrollbar-sm {
    position: relative;
    height: 150px;
    overflow-y: scroll;
}

.horizontal-scrollbar {
    position: relative;
    overflow-x: scroll;
}

span.spinner-border {
    width: 1rem;
    height: 1rem;
}

input.invisible {
    display: none;
}
