.tscroll {
    height: 400px;
    overflow: scroll;
}

.tscroll table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #FFF;
}

.tscroll table thead th:first-child {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: #FFF;
}

.tscroll tbody th {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #FFF;
}

.vertical-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.horizontal-scrollbar {
    position: relative;
    overflow: auto;
}

.selectedBg {
    background: #8fd19e !important;
}

span.spinner-border {
    width: 1rem;
    height: 1rem;
}

input.invisible {
    display: none;
}
