{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block nav_button_block %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{% url 'core:mission_edit' database object.pk %}"
           title="{% trans 'Mission Details' %}">{% custom_icon 'gear' %}</a>
    </li>
    <li class="nav-item me-2">
        <a href="{% url 'core:mission_events_details' database object.pk %}" class="btn btn-primary"
           title="{% trans 'Events' %}">{% custom_icon 'calendar3-range' %}</a>
    </li>
    <li class="nav-item me-2">
        <a href="{% url 'core:mission_samples_sample_details' database object.pk %}" class="btn btn-primary"
           title="{% trans 'Samples' %}">{% custom_icon 'beaker' %}</a>
    </li>
    <li class="nav-item me-2">
        <button disabled class="btn btn-secondary"
           title="{% trans 'Plankton' %}">{% custom_icon 'plankton' %}</button>
    </li>

{% endblock %}

{% block container %}container-fluid{% endblock %}
{% block content %}
    <div class="container-fluid" id="div_content_block_id"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    >

        {% include 'core/partials/form_plankton_load.html' %}

        <div class="mt-2 mb-2">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="row">
                            <div class="col">
                                <h6 class="align-self-end">{% trans "Plankton Samples" %}</h6>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-sm btn-danger" hx-swap="none" hx-confirm="{% trans "Are you sure?" %}"
                                        title="{% trans "Remove Plankton Samples from Mission" %}"
                                        hx-get="{% url 'core:mission_plankton_clear' mission.pk %}">{% custom_icon 'dash-square' %}</button>
                            </div>
                        </div>
                        <div class="row" id="div_id_plankton_db_details"> </div>
                    </div>
                </div>
                <div class="vertical-scrollbar">
                    <div id="div_id_plankton_data_table" hx-get="{% url 'core:form_plankton_list_plankton' mission.pk %}" hx-trigger="load, update_samples from:body">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2">
            {% include 'core/partials/card_biochem_validation.html' %}
        </div>
        <div id="div_id_biochem_card_wrapper" class="mb-2" hx-swap="outerHTML" hx-trigger="load" hx-get="{% url "core:form_biochem_get_database_connection_form" mission.pk %}">
            {# The Biochem database form will be swapped in here after the page loads #}
            {# the div_id_biochem_card_wrapper will then be replaced with an element that will swap the upload and download #}
            {# buttons onto the card whenever the BiochemUploadForm is updated and returns an Hx-Trigger='biochem_db_update' in the response #}
        </div>
        <div id="div_id_biochem_batches_card_wrapper" class="mb-2" hx-swap="outerHTML" hx-trigger="biochem_db_connect from:body" hx-get="{% url "core:mission_plankton_biochem_plankton_card" mission.pk %}">
            {# The Biochem database form will be swapped in here after the page loads #}
            {# the div_id_biochem_card_wrapper will then be replaced with an element that will swap the upload and download #}
            {# buttons onto the card whenever the BiochemUploadForm is updated and returns an Hx-Trigger='biochem_db_update' in the response #}
        </div>
    </div>

{% endblock %}