{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load bootstrap5 %}
{% load i18n %}

{% block title %}
    {{ block.super }}
    {% if new_url %}
        <span class="col-1"><a class="btn btn-primary" href="{{ new_url }}">{% trans 'New' %}</a></span>
    {% endif %}
{% endblock %}

{% block content %}
<div hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block filter %}
        <form id="filter-form" class="form" hx-target="#mission_table" hx-get="{% url 'core:hx_list_missions' %}">
            <div class="row">
                {% for field in filter.form %}
                    <div class="col">
                        {% bootstrap_field field placeholder="" size="small" %}
                    </div>
                {% endfor %}
                <div class="col">
                    <br>
                    <input type="submit" value="Filter" class="btn btn-warning btn-sm">
                    <a href="." class="btn btn-secondary btn-sm">{% trans 'Clear' %}</a>
                </div>
            </div>
        </form>
    {% endblock %}

    <table class="table table-sm" hx-target="#mission_table" hx-trigger="load" hx-get="{% url 'core:hx_list_missions' %}">
        <thead>
        <tr>
            <th class="col">Name</th>
            <th class="col">Start Date</th>
            <th class="col">End Date</th>
            <th class="col">Biochem Table</th>
            <th class="col">{# Events #}</th>
            <th class="col-1">{# Samples #}</th>
            <th class="col-1">{# mission details #}</th>
            <th class="col-1">{# blank column separating delete btn from other btns #}</th>
            <th class="col-1">{# delete #}</th>
        </tr>
        </thead>

        <tbody id="mission_table">
        {% block mission_table_block %}
        {% for mission in missions %}
            <tr class="table-row">
                <td>{{ mission.name }}</td>
                <td>{{ mission.start_date }}</td>
                <td>{{ mission.end_date }}</td>
                <td>{{ mission.biochem_table }}</td>
                <td><a class="btn btn-primary" href="{% url 'core:event_details' mission.id %}">{% trans 'Events' %}</a></td>
                {#    <td><a class="btn btn-primary" href="{% url 'core:sample_details' o.id %}">{% trans 'Samples' %}</a></td>#}
                <td>
                    {#    {% if bio_chem_details_provided %}#}
                    {#        <a class="btn btn-primary" href="{% url 'core:sample_uploads' o.id %}">{% trans 'BioChem' %}</a>#}
                    {#    {% else %}#}
                    {#        <button type="button" class="btn btn-secondary" onclick="window.alert('{% trans 'Could not connect to the BioChem staging database. Check the connection details in the .env file and that you can connect to the database.' %}')" title="{% trans 'Could not connect to the BioChem staging database. Check the connection details in the .env file and that you can connect to the database.' %}">{% trans 'BioChem' %}</button>#}
                    {#    {% endif %}#}
                </td>
                <td><a class="btn btn-primary" href="{% url 'core:mission_update' mission.id %}">{% custom_icon 'gear' %}</a></td>
                <td></td>
                <td><button type="button" class="btn btn-danger"
                            hx-target="#mission_table" hx-post="{% url 'core:hx_mission_delete' mission.id %}"
                            hx-confirm="{% trans 'This will permanently delete the mission and all loaded data, are you sure?' %}">X</button></td>
            </tr>
        {% endfor %}
        {% endblock %}
        </tbody>
    </table>
</div>
{% endblock %}
