{% extends 'generic_create.html' %}
{% load i18n %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block nav_button_block %}
    {% if object %}
    <li class="nav-item me-2">
        <a href="{% url 'core:mission_events_details' database object.pk %}" class="btn btn-primary"
           title="{% trans 'Events' %}">{% custom_icon 'calendar3-range' %}</a>
    </li>
    <li class="nav-item me-2">
        <a href="{% url 'core:mission_samples_sample_details' database object.pk %}" class="btn btn-primary"
           title="{% trans 'Samples' %}">{% custom_icon 'thermometer-half' %}</a>
    </li>
    <li class="nav-item me-2">
        <a href="{% url 'core:mission_plankton_plankton_details' database object.pk %}" class="btn btn-primary"
           title="{% trans 'Plankton' %}">{% custom_icon 'bug' %}</a>
    </li>
    {% endif %}
{% endblock %}


{% block content %}
    <div id="app" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% crispy form %}
    </div>
{% endblock %}