{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block nav_button_block %}
    {#    <li class="nav-item me-2">#}
    {#        <div class="btn btn-info col-auto" data-bs-toggle="collapse"#}
    {#             href="#search_form">{% custom_icon 'search' %}</div>#}
    {#    </li>#}
    <li class="nav-item me-2">
        <a href="{% url 'core:event_details' mission.pk %}" class="btn btn-primary"
           title="{% trans 'Events' %}">{% custom_icon 'calendar3-range' %}</a>
    </li>
    <li class="nav-item me-2">
        <a href="{% url 'core:event_details' mission.pk %}" class="btn btn-outline-danger"
           title="{% trans 'Plankton' %}">{% custom_icon 'bug' %}</a>
    </li>
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{% url 'core:mission_edit' mission.pk %}"
           title="{% trans 'Mission Details' %}">{% custom_icon 'gear' %}</a>
    </li>
{% endblock %}

{% block content %}
    {% if sample_type %}
        {% include 'core/partials/card_sample_upload_header.html' %}
    {% else %}
        {% include 'core/partials/card_sample_load_header.html' %}
    {% endif %}

    {% block ctd_block %}
        {% if sample_type %}
        <div id="div_id_data_display" class="container-fluid mt-2" hx-swap-oob="#div_id_data_display">
            <div class="card" id="div_ctd_id">
                <div class="card-header">
                    <div class="row">
                        <div class="card-title">{{ sample_type }}</div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="div_ctd_list_id">
                        {% include 'core/partials/table_sample.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div id="div_id_data_display" class="container-fluid mt-2" hx-swap-oob="#div_id_data_display">
            <div class="card" id="div_ctd_id">
                <div class="card-header">
                    <div class="row">
                        <div class="card-title col-1">{% trans "CTD" %}</div>
                            {% block ctd_import_form %}
                                <form class="col" id="ctd_upload_file_form_id"
                                      hx-target="#div_ctd_list_id"
                                      hx-get="{% url "core:hx_sample_upload_ctd" mission.pk %}">
                                    <span class="input-group col-auto">
                                        <input class="input-group-sm form-control form-control-sm" type="text" name="bottle_dir" value="{% if mission.bottle_directory %}{{ mission.bottle_directory }}{% endif %}" placeholder="{% trans "Location of the .BTL/.ROS fiels to be loaded." %}"/>
                                        <button class="btn btn-secondary btn-sm" type="submit" title="{% trans "Upload" %}" >{% custom_icon 'arrow-clockwise' %}</button>
                                    </span>
                                </form>
                            {% endblock %}
                    </div>
                </div>
                <div class="card-body">
                    <div id="div_ctd_list_id">
                        {% block ctd_list %}
                            {% if file_form %}
                                {% crispy file_form %}
                            {% else %}
                                {% include 'core/partials/table_sample.html' %}
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endblock %}
{% endblock %}
