{# ################################################################################################ #}
{# This template represents the ELog configuration page where settings related #}
{# to mapping an elog value to a DART required value can be updated #}
{# ################################################################################################ #}

{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block nav_button_block %}
    <li class="nav-item me-2">
        <a href="{% url 'core:mission_events_details' database object.pk %}" class="btn btn-primary"
           title="{% trans 'Events' %}">{% custom_icon 'calendar3-range' %}</a>
    </li>

{% endblock %}

{% block content %}
    {% for mapping in file_config %}
    <form hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="card mb-2">
            <div class="card-header">
                <div class="row">
                <h6 class="col-auto">{% trans "Variable Name" %} :
                    <label for="mapping_{{ mapping.id }}" class="card-title col form-label">{{ mapping.required_field }}</label>
                </h6>
                </div>
            </div>
            <div class="card-body">
                {% if mapping.description %}<p><span class="h6">{% trans "Description" %} : </span>{{ mapping.description }}</p>{% endif %}
                <h6>{% trans "Expected Elog Label" %} :</h6>
            {% block config_input %}
                <div class="input-group" id="mapping_input_{{ mapping.id }}">
                <input id="mapping_{{ mapping.id }}" class="textinput form-control form-control-sm"
                       type="text" name="{{ mapping.required_field }}" value="{{ mapping.mapped_field }}"
                       hx-get="{% url 'core:update_elog_config' object.pk %}"
                       hx-trigger="keyup changed delay:500ms"
                       hx-target="#button_id_mapping_{{ mapping.id }}"
                       hx-select="#button_id_mapping_{{ mapping.id }}"
                       hx-swap="outerHTML"
                 />
                <button id="button_id_mapping_{{ mapping.id }}" {% if enabled %}class="btn btn-primary"
                        hx-post="{% url 'core:update_elog_config' object.pk %}"
                        hx-target="#mapping_input_{{ mapping.id }}"
                        hx-swap="outerHTML"
                        {% else %}class="btn btn-secondary"
                        disabled="disabled"{% endif %}
                >{% custom_icon 'check-square' %}</button>
                </div>
            {% endblock %}
            </div>
        </div>
    </form>
    {% endfor %}
{% endblock %}