{# ################################################################################################ #}
{# This template represents the events page were elog events are loaded for a mission #}
{# ################################################################################################ #}
{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block nav_button_block %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{% url 'core:mission_edit' database object.pk %}"
           title="{% trans 'Mission Details' %}">{% custom_icon 'gear' %}</a>
    </li>
    <li class="nav-item me-2">
        <button disabled class="btn btn-secondary"
           title="{% trans 'Events' %}">{% custom_icon 'calendar3-range' %}</button>
    </li>
    <li class="nav-item me-2">
        <a href="{% url 'core:mission_samples_sample_details' database object.pk %}" class="btn btn-primary"
           title="{% trans 'Samples' %}">{% custom_icon 'beaker' %}</a>
    </li>
    <li class="nav-item me-2">
        <a href="{% url 'core:mission_plankton_plankton_details' database object.pk %}" class="btn btn-primary"
           title="{% trans 'Plankton' %}">{% custom_icon 'plankton' %}</a>
    </li>
{% endblock %}

{% block content %}
    <span hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'core/partials/card_event_row.html' %}
    <div class="mb-2" id="div_id_trip_events"></div>
    <div class="mb-2" id="div_id_mission_event_validation" hx-trigger="load" hx-get="{% url 'core:mission_events_validation' object.pk %}">
    </div>
    <div class="mb-2" id="div_id_mission_file_validation" hx-trigger="load, event_updated from:body" hx-get="{% url 'core:mission_file_validation' object.pk %}">
    </div>
    </span>
{% endblock %}