{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block nav_button_block %}
    <li class="nav-item me-2">
        <a href="{% url 'core:mission_events_details' mission.pk %}" class="btn btn-primary"
           title="{% trans 'Events' %}">{% custom_icon 'calendar3-range' %}</a>
    </li>
    <li class="nav-item me-2">
        <a href="{% url 'core:mission_plankton_plankton_details' mission.pk %}" class="btn btn-primary"
           title="{% trans 'Plankton' %}">{% custom_icon 'bug' %}</a>
    </li>
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{% url 'core:mission_edit' mission.pk %}"
           title="{% trans 'Mission Details' %}">{% custom_icon 'gear' %}</a>
    </li>
{% endblock %}

{% block content %}
        <div id="div_content_block_id" class="container-fluid" hx-swap-oob="true">
    {% if sample_type %}
        {% include 'core/partials/card_sample_upload_header.html' %}
    {% else %}
{#        <div class="row">#}
{#            {% include 'core/partials/card_event_validation.html' %}#}
{#        </div>#}
        <div class="row mt-2">
        {% include 'core/partials/card_bottle_load_header.html' %}
        </div>
        <div class="row mt-2">
        {% include 'core/partials/card_sample_load_header.html' %}
        </div>
    {% endif %}
        </div>

    {% block ctd_block %}
        {% if sample_type %}
        <div id="div_id_data_display" class="container-fluid mt-2" hx-swap-oob="#div_id_data_display">
            <div class="card" id="div_ctd_id">
                <div class="card-header">
                    <div class="row">
                        <div class="card-title">{{ sample_type }}</div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="div_ctd_list_id">
                        {% include 'core/partials/table_sample.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div id="div_id_data_display" class="container-fluid mt-2" hx-swap-oob="#div_id_data_display">
            <div class="card" id="div_ctd_id">
                <div class="card-header">
                    <div class="row">
                        <div class="card-title col-1">{% trans "CTD" %}</div>
                    </div>
                </div>
                <div class="card-body">
                    {% include 'core/partials/table_sample.html' %}
                </div>
            </div>
        </div>
        <div class="mt-2" hx-trigger="load" hx-get="{% url "core:mission_samples_get_all_discrete_upload_db_card" mission.pk %}">
        </div>
        <div class="mt-2">
            {% include 'core/partials/card_biochem_validation.html' %}
        </div>
        {% endif %}
    {% endblock %}
{% endblock %}
