{% extends 'generic_create.html' %}
{% load i18n %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="app">
        <form method="POST" >
            {% csrf_token %}
            {%  crispy form %}
        </form>
{#            {% for field in form %}#}
{#                {% if field.name == 'geographic_region' %}#}
{#                    <div id="div_id_geographic_region">#}
{#                        <div class="row">#}
{#                            <div class="col">#}
{#                                <label for="id_geographic_region" class="form-label">Geographic Region</label>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                        {% block geo_row %}#}
{#                            <div class="col" id="geo_row">#}
{#                                {% bootstrap_field field %}#}
{#                            </div>#}
{#                            <div class="col-1">#}
{#                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"#}
{#                                        data-bs-target="#{{ field.name }}_dialog">+#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endblock %}#}
{#                    </div>#}
{#                {% else %}#}
{#                {% bootstrap_field field %}#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#            <input class="btn btn-primary" type="submit" value="Submit" {% if object.events.all %}hx-on="click: notify_of_event_validation()"{% endif %} />#}
{#        </form>#}
        <!-- geographic region Modal -->
        <div class="modal fade" id="geographic_region_dialog" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="geographic_region_dialog_label">{% trans 'New Geographic Region' %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="geographic_region_form"
                          hx-post="{% url 'core:hx_geo_region_add' %}" class="form-control"
                          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                          hx-target="#div_id_geographic_region"
                          hx-swap="outerHTML"
                          hx-select="#div_id_geographic_region"
                          hx-swap-oob="outerHTML"
                          hx-select-oob="#geographic_region_form"
                    >
                        {% block geographic_region_form %}
                        <div class="modal-body">
                            <label class="form-label" for="new_region">
                                {% trans 'Geographic Region' %}
                            </label>
                            <input name="new_region" id="new_region" type="text" class="form-control" value=""
                                   placeholder="{% trans "New geographic region name, or blank to close" %}"/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">{% trans 'Ok' %}</button>
                        </div>
                        {% endblock %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_js %}
    <script>

        function notify_of_event_validation() {
            alert("{% trans "About to re-validate events, this may take a moment." %}");
        }
    </script>
{% endblock %}