{% extends 'generic_create.html' %}
{% load i18n %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block nav_button_block %}
    {% if object %}
    <li class="nav-item me-2">
        <a href="{% url 'core:event_details' object.pk %}" class="btn btn-primary"
           title="{% trans 'Events' %}">{% custom_icon 'calendar3-range' %}</a>
    </li>
    <li class="nav-item me-2">
        <a href="{% url 'core:sample_details' object.pk %}" class="btn btn-primary"
           title="{% trans 'Samples' %}">{% custom_icon 'thermometer-half' %}</a>
    </li>
    <li class="nav-item me-2">
        <a href="{% url 'core:event_details' object.pk %}" class="btn btn-outline-danger"
           title="{% trans 'Plankton' %}">{% custom_icon 'bug' %}</a>
    </li>
    {% endif %}
{% endblock %}


{% block content %}
    <div id="app">
        <form method="POST" >
            {% csrf_token %}
            {%  crispy form %}
        </form>
        <!-- geographic region Modal -->
        <div class="modal fade" id="geographic_region_dialog" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="geographic_region_dialog_label">{% trans 'New Geographic Region' %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="geographic_region_form"
                          hx-post="{% url 'core:hx_geo_region_add' %}" class="form-control"
                          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                          hx-target="#div_id_geographic_region"
                          hx-swap="outerHTML"
                          hx-select="#div_id_geographic_region"
                          hx-swap-oob="outerHTML"
                          hx-select-oob="#geographic_region_form"
                    >
                        {% block geographic_region_form %}
                        <div class="modal-body">
                            <label class="form-label" for="new_region">
                                {% trans 'Geographic Region' %}
                            </label>
                            <input name="new_region" id="new_region" type="text" class="form-control" value=""
                                   placeholder="{% trans "New geographic region name, or blank to close" %}"/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">{% trans 'Ok' %}</button>
                        </div>
                        {% endblock %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_js %}
    <script>

        function notify_of_event_validation() {
            alert("{% trans "About to re-validate events, this may take a moment." %}");
        }
    </script>
{% endblock %}