{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid">
    <form id="id_form_sample_type" onkeydown="return event.key != 'Enter';" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'core/partials/form_sample_type.html' %}
    {% block loaded_samples %}
        <div id="div_id_loaded_sample_types">
        {% for sample_type in sample_types %}
            {% include 'core/partials/card_sample_type.html' with sample_type=sample_type %}
        {% endfor %}
        </div>
    {% endblock %}
    </form>
    </div>
{% endblock %}