{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {{ block.super }}
    {% if new_url %}
    <span class="col-1"><a class="btn btn-primary" href="{{ new_url }}">{% trans 'New' %}</a></span>
    {% endif %}
{% endblock %}

{% block content %}
    {% if filter %}
    {% block filter %}
    <form class="form" action="" method="get" id="filter-form">
        <div class="row">
            {% for field in filter.form %}
            <div class="col">
                {% bootstrap_field field placeholder="" size="small" %}
            </div>
            {% endfor %}
            <div class="col">
                <br>
                <input type="submit" value="Filter" class="btn btn-warning btn-sm">
                <a href="." class="btn btn-secondary btn-sm">{% trans 'Clear' %}</a>
            </div>
        </div>
    </form>
    {% endblock %}
    {% endif %}
        <table class="table table-sm {% if row_object_url_name %}table-hover{% endif %}">
          <thead>
            <tr>
            {% if obj %}
                {% with obj|first as o %}
                    {% for key in o %}
                  <th>
                    {{ key.title }}
                  </th>
                    {% endfor %}
                {% endwith %}
                {% block extra_cols_header %}{% endblock %}
            {% endif %}
            </tr>
          </thead>

          <tbody>
          {% for o in obj %}
              <tr class="table-row">
                  {% for key, value in o.items %}
                  <td>
                    <div class="">
                      {{ value }}
                    </div>
                  </td>
                  {% endfor %}
                  {% block extra_cols_table %}{% endblock %}
              </tr>
          {% endfor %}
          </tbody>
        </table>
{% endblock %}
