{% load bootstrap_icons %}

<nav class="navbar navbar-expand-lg navbar-expand-sm {% if theme == "dark" %}navbar-dark bg-body-tertiary{% else %}navbar-light bg-light{% endif %}">

  <div class="container-fluid">
    <ul class="navbar-nav me-autocollapse navbar-collapse">
    {% block header_buttons %}
        {% if home_url %}
        <li class="nav-item ms-2">
            <a class="btn btn-primary" href="{{ home_url }}">{% custom_icon 'house' %}</a>
        </li>
        {% endif %}
      <li class="nav-item ms-2">
            <a class="btn btn-primary" href="{% url 'docs:index' %}">{% custom_icon 'question-circle' %}</a>
        </li>
    {% endblock %}
    </ul>
    <ul class="navbar-nav ms-auto">
    {% block nav_button_block %}
        {% if settings_url %}
        <li class="nav-item me-2">
            <a class="btn btn-primary" href="{{ settings_url }}">{% custom_icon 'gear' %}</a>
        </li>
        {% endif %}
    {% endblock %}
    </ul>
  </div>
</nav>