{% load bootstrap_icons %}

<nav class="navbar navbar-expand-lg {% if theme == "dark" %}navbar-dark bg-body-tertiary{% else %}navbar-light bg-light{% endif %}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
    <ul class="navbar-nav">
    {% block header_buttons %}
        {% if home_url %}
        <li class="nav-item ms-2">
            <a class="btn btn-primary" href="{{ home_url }}">{% custom_icon 'house' %}</a>
        </li>
        {% endif %}
      <li class="nav-item ms-2">
            <a class="btn btn-primary" href="{% url 'docs:index' %}">{% custom_icon 'question-circle' %}</a>
        </li>
    {% endblock %}
    </ul>
    <ul class="navbar-nav ms-auto">
        {% if settings_url %}
        <li class="nav-item me-2">
            <a class="btn btn-primary" href="{{ settings_url }}">{% custom_icon 'gear' %}</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>