{% load bootstrap_icons %}
{% load i18n %}

<div class="alert" id="alert_soup_content_{{ alert_id }}">
    <div class="row">
        <div class="col" id="alert_soup_content_{{ alert_id }}_msg">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col" id="alert_soup_content_{{ alert_id }}_buttons">
            <button class="btn btn-sm btn-secondary" hx-delete="data:text/html," hx-swap="outerHTML" hx-target="#alert_soup_content_{{ alert_id }}">{% custom_icon 'x-square' %} {%  trans "Close" %}</button>
        </div>
    </div>
</div>
