{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load bootstrap5 %}
{% load i18n %}

{% block nav_button_block %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{% url 'core:sample_type_details' %}" title="{% trans "Edit Global Sample Types" %}">{% custom_icon 'speedometer2' %}</a>
    </li>
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{% url 'core:biochem_details' %}" title="{% trans "Biochem" %}">{% custom_icon 'database' %}</a>
    </li>
{% endblock %}

{% block report_help_text %}{% trans 'Access fix station reports for missions visible in the mission list' %}{% endblock %}
{% block report %}
  <ul class="dropdown-menu" id="ul_id_fixstation_reports">
      {% for key,report in reports.items %}
          <li><a class="dropdown-item" href="{{ report }}">{{ key }}</a></li>
      {% endfor %}
  </ul>
{% endblock %}

{% block title %}
    {{ block.super }}
    {% if new_url %}
        <span class="col-1"><a class="btn btn-primary" href="{{ new_url }}" title="{% trans 'New Mission' %}">{% custom_icon 'plus-square' %}</a></span>
    {% endif %}
{% endblock %}

{% block content %}
<div hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <form id="form_id_mission_directory" class="form-control mb-2">
    {% if dir_select_form %}
        {% crispy dir_select_form %}
    {% endif %}
    </form>

    <div class="card">
        <div class="card-header">
            <div class="card_title" title="{% trans "Filter missions based on the mission dates and limit which missions will be used in the fix station reports" %}">
                {%  custom_icon 'question-circle' %} {% trans "Mission List" %}
            </div>
        </div>
        <div class="card-body">
        {% include 'settingsdb/partials/mission_table.html' %}
        </div>
    </div>

</div>
{% endblock %}
