{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load bootstrap5 %}
{% load i18n %}

{% block nav_button_block %}
    <li class="nav-item me-2">
        <a class="btn btn-primary" href="{% url 'core:sample_type_details' %}" title="{% trans "Standard Sample Types" %}">{% custom_icon 'speedometer2' %}</a>
    </li>
{% endblock %}

{% block report %}
  <ul class="dropdown-menu" id="ul_id_fixstation_reports">
      {% for key,report in reports.items %}
          <li><a class="dropdown-item" href="{{ report }}">{{ key }}</a></li>
      {% endfor %}
  </ul>
{% endblock %}

{% block title %}
    {{ block.super }}
    {% if new_url %}
        <span class="col-1"><a class="btn btn-primary" href="{{ new_url }}" title="{% trans 'New Mission' %}">{% custom_icon 'plus-square' %}</a></span>
    {% endif %}
{% endblock %}

{% block content %}
<div>
    <form id="form_id_mission_directory" class="form-control" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% if dir_select_form %}
        {% crispy dir_select_form %}
    {% endif %}
    </form>

    {% include 'settingsdb/partials/mission_table.html' %}
</div>
{% endblock %}
