{% load i18n %}
{% load bootstrap_icons %}

<div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <button class="btn btn-light btn-sm col-auto" data-bs-toggle="collapse"
                    href="#div_id_bio_error_card_body">{% custom_icon 'caret-down' %}</button>
            <span class="card-title col-auto align-self-end h6">{% trans "Validation Warnings" %}</span>
        </div>
    </div>
    <div class="collapse col" id="div_id_bio_error_card_body">
        <div class="card-body vertical-scrollbar" hx-trigger="load, biochem_updated from:body" hx-target="#bio_errors"
              hx-swap="outerHTML" hx-select="#bio_errors"
             hx-get="{% url 'core:hx_get_biochem_errors' mission.pk %}">
            <ul id="bio_errors" class="list-group" hx-swap-oob="true">
            {% for error in biochem_errors %}
                <li class="list-group-item">{{ error.message }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>