<div class="card mb-2" id="div_id_card_{{ card_name }}">
    <div class="card-header" id="div_id_card_header_{{ card_name }}">
        <div class="row">
            <div class="col">
                <div class="card-title"> <span class="h5" id="div_id_card_title_{{ card_name }}">{{ card_title }}</span></div>
            </div>
            <div class="col-auto" id="div_id_card_title_buttons_{{ card_name }}">
            </div>
        </div>
        <div id="div_id_card_notifications_{{ card_name }}">

        </div>
    </div>
    <div class="card-body" id="div_id_card_body_{{ card_name }}"></div>
</div>
