{% load i18n %}
{% load bootstrap_icons %}

<div class="card mt-2" id="div_id_sample_type_{{ sample_type.pk }}">
    <div class="card-header">
        <div class="card-title">
            <div class="row">
                <div class="col">
                    <h5>{{ sample_type }}</h5>
                </div>
                <div class="col-auto">
                    <button class="btn btn-danger btn-sm" name="div_id_message_{{ sample_type.pk }}"
                            hx-target="#div_id_message_{{ sample_type.pk }}"
                            hx-select="#div_id_message_{{ sample_type.pk }}"
                            hx-swap="outerHTML"
                            hx-confirm="{% trans 'Are you sure?' %}"
                            hx-post="{% url 'core:sample_type_delete' sample_type.pk %}"
                    >{% custom_icon 'dash-square' %}</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary btn-sm" name="edit_sample_type"
                            hx-get="{% url 'core:sample_type_edit' sample_type.pk %}"
                            hx-target="#div_id_sample_type_form"
                            hx-swap="outerHTML"
                            hx-on="htmx:afterRequest: window.location.href='#page_title_area';"
                    >{% custom_icon 'pencil-square' %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row" id="div_id_message_{{ sample_type.pk }}">
            {# this area is where messages from the delete/edit calls can be swapped into #}
        </div>
        <div class="row">
            <div class="col-auto">
                {% trans "BioChem Data Type" %} :
            </div>
            {% if sample_type.datatype.data_type_seq %}
            <div class="col-auto">
                {{ sample_type.datatype.data_type_seq }}
            </div>
            <div class="col">
                {{ sample_type.datatype.description }}
            </div>
            {% else %}
            <div class="col">
                {% trans "None assigned" %}
            </div>
            {% endif %}
        </div>
        {% if sample_type.configs.all %}
        <div class="row mt-2">
            <div class="col">
                <ul class="list-group">
                <li class="list-group-item list-group-item-info">{% trans 'File Configurations' %}</li>
            {% for config in sample_type.configs.all %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-auto">{% trans "File Type" %} : {{ config.file_type }}</div>
                        <div class="col-auto">{% trans "Tab #" %} : {{ config.tab }}</div>
                        <div class="col-auto">{% trans "Header Row #" %} : {{ config.skip }}</div>
                        <div class="col-auto">{% trans "Allow Replicate" %} : {{ config.allow_replicate }}</div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-secondary">{% trans "Column Mappings" %}</li>
                        <li class="list-group-item">{% trans 'Sample' %} : {{ config.sample_field }}</li>
                        <li class="list-group-item">{% trans 'Value' %} : {{ config.value_field }}</li>

                        {% if config.replicate_field %}
                        <li class="list-group-item">{% trans 'Replicate' %} : {{ config.replicate_field }}</li>
                        {% endif %}

                        {% if config.flag_field %}
                        <li class="list-group-item">{% trans 'Quality Flag' %} : {{ config.flag_field }}</li>
                        {% endif %}

                        {% if config.comment_field %}
                        <li class="list-group-item">{% trans 'Comment' %} : {{ config.comment_field }}</li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</div>