{% load i18n %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

<div class="row mb-2">
    <div class="col">
        <div class="card mb-2" id="div_id_card_event_filter">
            <form id="event_filter_form">
                <div class="card-header" id="div_id_card_header_event_filter">
                    <div class="row">
                        <button aria-expanded="false" class="btn btn btn-light btn-sm collapsed col-auto" data-bs-toggle="collapse" href="#div_id_card_collapse_event_filter" id="button_id_collapse_event_filter" type="button">
                            <svg class="bi bi-caret-down" fill="currentColor" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"></path></svg>
                        </button>
                        <div class="col-auto align-self-end">
                            <div class="card-title">
                                <div class="card-title" title="{% trans 'The filter allows filtering events based on status, numbers, sample id ranges' %}">{% custom_icon 'question-circle' %}<span class="h6" id="div_id_card_title_event_filter">{% trans "Event Filter" %}</span></div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary btn-sm" hx-trigger="load, click" hx-include="#event_filter_form" hx-target="#event_table" hx-swap="outerHTML" hx-get="{% url 'core:form_event_get_events' mission.pk %}">{% custom_icon 'check-square' %}</button>
                            <button type="button" class="btn btn-secondary btn-sm" hx-get="{% url "core:form_event_clear_filter" %}" hx-target="#event_filter_form">{% custom_icon 'eraser' %}</button>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="div_id_card_collapse_event_filter">
                    <div class="card-body" id="div_id_card_body_event_filter">
                        <div class="row mb-2">
                            <div class="col-auto">
                                <label for="filter_show_errors" >{% trans "Errors Only" %}</label>
                                <input class="form-check" type="checkbox" id="filter_show_errors" name="filter_show_errors" />
                            </div>

                            <div class="col-auto">
                                <label for="filter_event_station">{% trans "Station" %}</label>
                                <select class="form-select form-select-sm" id="filter_event_station" name="filter_event_station">
                                    <option value="">{% trans "-------------" %}</option>
                                    {% for station in stations %}
                                        <option value="{{ station.id }}">{{ station.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-auto">
                                <label for="filter_event_instrument_type">{% trans "Instrument Type" %}</label>
                                <select class="form-select form-select-sm" id="filter_event_instrument_type" name="filter_event_instrument_type">
                                    <option value="">{% trans "-------------" %}</option>
                                    {% for instrument in instruments %}
                                        <option value="{{ instrument }}">{{ instrument.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-auto">
                                <label for="filter_event_id">{% trans "Event ID" %}</label>
                                <input type="number" class="form-control form-control-sm" id="filter_event_id" name="filter_event_id" />
                            </div>
                            <div class="col-auto">
                                {% trans "or" %}
                            </div>
                            <div class="col-auto">
                                <label for="filter_start_sample_id" >{% trans "Start ID" %}</label>
                                <input type="number" class="form-control form-control-sm" id="filter_start_sample_id" name="filter_start_sample_id" />
                            </div>

                            <div class="col-auto">
                                <label for="filter_end_sample_id" >{% trans "End ID" %}</label>
                                <input type="number" class="form-control form-control-sm" id="filter_end_sample_id" name="filter_end_sample_id" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div id="div_events_id" class="col-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="card-title col" title="{% trans 'The event list allows bulk loading of events from various file formats. Once created, events can be selected from this list to show more details about the events on the event details card. When event validation is run events containing issues will be highlighted in the list.' %}">{% custom_icon 'question-circle' %}{% trans "Events" %}</div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-sm btn-danger"
                                hx-swap="none" hx-confirm="{% trans "Are you sure you want to delete all events and associated sensor and sample data?" %}"
                                hx-delete="{% url "core:form_event_delete_event" mission.pk 0 %}"
                                title="{% trans "Delete all existing events and associated sensor and sample data" %}">{% custom_icon 'x-square' %} {% trans "Delete All" %}</button>
                    </div>
                    <div class="col-auto">
{#                        <a class="btn btn-primary btn-sm" href="{% url 'core:elog_config' mission.pk %}"#}
{#                           title="{% trans "Elog Config" %}">{% custom_icon 'body-text' %}</a>#}

                        <div class="dropdown">
                            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="importDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            {% custom_icon 'arrow-up-square' %} {% trans "Import" %}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="importDropdown">
                                <li><label for="andes_event_file_input_id" class="dropdown-item" title="{% trans "Upload events from andes report" %}">Andes</label></li>
                                <li><button hx-swap="none" hx-get="{% url 'core:form_event_import_events_btl' mission.pk %}" for="btl_event_file_input_id" class="dropdown-item" title="{% trans "Upload events from fixstation BTL files" %}">BTL</button></li>
                                <li><label for="csv_event_file_input_id" class="dropdown-item" title="{% trans "Upload events from csv files" %}">CSV</label></li>
                                <li><label for="elog_event_file_input_id" class="dropdown-item" title="{% trans "Upload events from elog files" %}">Elog</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
                    {% block event_import_form %}
                <div id="div_id_event_message_area" class="row">
                    <div id="div_id_bottle_event_message">
{#                         special case for bottle event loading #}
                    </div>
                    <form name="elog_upload_file_form_id" id="elog_upload_file_form_id"
                          hx-encoding="multipart/form-data"
                          hx-get="{% url "core:form_event_import_events_elog" mission.pk %}"
                          hx-trigger="change"
                          hx-swap="none"
                    >
                        <input id="csv_event_file_input_id" type="file" name="csv_event" accept=".csv"
                               multiple="true" class="invisible"/>
                        <input id="elog_event_file_input_id" type="file" name="elog_event" accept=".log"
                               multiple="true" class="invisible"/>
                        <input id="andes_event_file_input_id" type="file" name="andes_event" accept=".json"
                               multiple="false" class="invisible"/>
                    <div id="div_id_event_alert"></div>
                    </form>
                </div>
                    {% endblock %}
            </div>
            <div class="card-body vertical-scrollbar">
                <div id="div_event_list_id" class="row">
                    {% include 'core/partials/table_event.html' %}
                </div>
            </div>
        </div>
    </div>
    <div id="div_event_details_id" class="col-9">
        {% if details_form %}
            <form hx-encoding="multipart/form-data">
            {% crispy details_form %}
            </form>
        {% endif %}
    </div>
</div>