<div class="card mb-2" id="div_id_card_{{ card_name }}">
    <div class="card-header" id="div_id_card_header_{{ card_name }}">
        <div class="row">
            <div class="col">
                <div class="card-title" id="div_id_card_title_{{ card_name }}"> <h6>{{ card_title }}</h6></div>
            </div>
            <div class="col-auto" id="div_id_card_title_buttons_{{ card_name }}">
            </div>
        </div>
    </div>
    <div class="card-body" id="div_id_card_collapse_{{ card_name }}"></div>
</div>
