{% load i18n %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

<div >
    {% block new_sample_block %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <button class="btn btn-light btn-sm col-auto" data-bs-toggle="collapse"
                        href="#div_new_sample">{% custom_icon 'caret-down' %}</button>
                <span class="card-title col-auto align-self-end h6">{% trans "Load Sample from file" %}</span>
            </div>
        </div>
        <div class="collapse col" id="div_new_sample">
            <div class="card-body">
                <div class="mb-2 col">
                    <div id="new_sample_form" class="card-body">
                        {% block new_sample_form_block %}
                            {% include 'core/partials/form_sample_config.html' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>
