{% load i18n %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

<div class="row">
    <div id="div_events_id" class="col-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="card-title col">{% trans "Events" %}</div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-sm" href="{% url 'core:elog_config' database mission.pk %}"
                           title="{% trans "Elog Config" %}">{% custom_icon 'body-text' %}</a>

                        <label for="elog_event_file_input_id" class="btn btn-primary btn-sm"
                               title="{% trans "Upload events from elog files" %}">Elog {% custom_icon 'arrow-up-square' %}</label>
                        <label for="andes_event_file_input_id" class="btn btn-primary btn-sm"
                               title="{% trans "Upload events from andes report" %}">Andes {% custom_icon 'arrow-up-square' %}</label>
                    </div>
                </div>
                    {% block event_import_form %}
                <div id="div_id_event_message_area" class="row">
                    <form name="elog_upload_file_form_id" id="elog_upload_file_form_id"
                          hx-encoding="multipart/form-data"
                          hx-get="{% url "core:form_event_import_events_elog" database mission.pk %}"
                          hx-trigger="change"
                          hx-swap="none"
                    >
                        <input id="elog_event_file_input_id" type="file" name="elog_event" accept=".log"
                               multiple="true" class="invisible"/>
                        <input id="andes_event_file_input_id" type="file" name="andes_event" accept=".json"
                               multiple="false" class="invisible"/>
                    <div id="div_id_event_alert"></div>
                    </form>
                </div>
                    {% endblock %}
            </div>
            <div class="card-body vertical-scrollbar">
                <div id="div_event_list_id" class="row">
                    {% include 'core/partials/table_event.html' %}
                </div>
            </div>
        </div>
    </div>
    <div id="div_event_details_id" class="col">
        {% if details_form %}
            <form hx-encoding="multipart/form-data">
            {% crispy details_form %}
            </form>
        {% endif %}
    </div>
</div>