{% load i18n %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

<form id="div_id_sample_filter"
     hx-swap-oob="true"
     hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
>
    <div class="card">
        <div class="card-header">
            <div class="card-title">

                <div class="row justify-content-between">
                    <div class="col">
                        <a type="button" class="btn btn-primary btn-sm" title="{% trans 'Back' %}"
                                href="{% url 'core:mission_samples_sample_details' database mission_sample.mission.pk %}"
                        >{% custom_icon 'arrow-left-square' %}</a>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-danger btn-sm" name="delete" title="{% trans 'Delete' %}"
                                hx-post="{% url 'core:mission_sample_type_delete' database mission_sample.pk %}"
                                hx-target="#div_content_block_id"
                                hx-swap="afterbegin"
                                hx-confirm="{% trans 'Are you sure?' %}"
                        >{% custom_icon 'dash-square' %}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
        {% if biochem_form %}
            {% crispy biochem_form %}
        {% endif %}
        </div>
    </div>
</form>
