{% load i18n %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

<div id="div_id_sample_config_card_{{ sample_config.pk }}" class="card mb-2">
<div class="card-header">
    <div class="card-title row">
        <button type="button" class="btn btn-light btn-sm col-auto collapsed" data-bs-toggle="collapse"
                title="{% trans "Add new file configuration" %}"
            href="#div_id_sample_config_card_body_{{ sample_config.pk }}" aria-expanded="true">{% custom_icon 'caret-down' %}</button>

        <h6 class="col align-self-end">{% trans 'File Configuration' %} : {{ sample_config }}</h6>
        <div class="col-auto">
            <button type="button" class="btn btn-danger btn-sm" name='delete'
                    title="{% trans "Delete configuration" %}"
                    hx-post="{% url 'core:form_sample_config_delete' sample_config.pk %}"
                    hx-target="#div_id_sample_config_card_{{ sample_config.pk }}"
                    hx-swap="delete"
                    hx-confirm="{% trans "Are you sure?" %}"
            >{% custom_icon 'dash-square' %}</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-secondary btn-sm me-1" name='edit'
                    title="{% trans "Edit file configuration" %}"
                    hx-post="{% url 'core:form_sample_config_new' database sample_config.pk %}"
                    hx-target="#div_id_sample_type_holder"
                    {# just a little javascript to scroll back to the new sample type form #}
                    hx-on="htmx:afterRequest: window.location.href = '#div_id_sample_type';"
            >{% custom_icon 'pencil-square' %}</button>
        </div>
        <div class="col-auto">
            <input class="form-check-input border-primary" title="{% trans 'selected for upload' %}" id="input_id_sample_config_{{ sample_config.pk }}" type="checkbox" name="sample_config" value="{{ sample_config.pk }}" />
        </div>
        <div id="div_id_sample_config_card_{{ sample_config.pk }}_message"></div>
    </div>
</div>
<div id="div_id_sample_config_card_body_{{ sample_config.pk }}" class="collapsed collapse">
    <div class="card-body">
        <table class="table" id="table_id_sample_config_{{ sample_config.pk }}">
            <thead>
                <tr>
                    <th>{% trans "Tab #" %}</th>
                    <th>{% trans "Header Row #" %}</th>
                    <th>{% trans 'Sample' %}</th>
                    <th>{% trans 'Value' %}</th>
                    <th>{% trans 'Detection Limit' %}</th>
                    <th>{% trans 'Quality Flag' %}</th>
                    <th>{% trans 'Comment' %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ sample_config.tab }}</td>
                    <td>{{ sample_config.skip }}</td>
                    <td>{{ sample_config.sample_field }}</td>
                    <td>{{ sample_config.value_field }}</td>
                    <td>{% if sample_config.limit_field %}{{ sample_config.limit_field }}{% endif %}</td>
                    <td>{% if sample_config.flag_field %}{{ sample_config.flag_field }}{% endif %}</td>
                    <td>{% if sample_config.comment_field %}{{ sample_config.comment_field }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>