{% load i18n %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}
{% load humanize %}

<div id="div_event_content_id">
{% block event_block %}

{% block event_form %}
    {# Have to disable the form tag in crispy forms because by default Cirspy will add a method to the form tag #}
    {# that can't be removed and that plays havoc with htmx calls where the post action is on the input buttons #}
    <form id="event_form_id">
    {% if event %}
        <input type="hidden" name="event_id" value="{{ event.event_id }}" />
        <div class="row">
            <div class="col-auto">
                <h3>{% trans 'Event : ' %}{{ event.event_id }}</h3>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-primary" name="add_event" title="{% trans "Update event station/instrument details" %}"
                        hx-swap="outerHTML" hx-target="#div_id_card_event_details"
                        hx-post="{% url 'core:form_event_edit_event' event.pk %}">{% custom_icon 'arrow-clockwise' %}</button>
            </div>
        </div>
    {% endif %}
    {% if event_form %}
    {% crispy event_form %}
    {% if event.total_samples %}
        {% trans "Total Bottles : " %} {{ event.total_samples }}
    {% endif %}
        {% else %}
        No form
    {% endif %}
    </form>
{% endblock %}
{% endblock %}

{% block action_block %}
    {% if event %}
        <div class="row">
            <div class="col mt-5">
                <h3>{% trans 'Add Actions' %}</h3>
            </div>
        </div>
    {% endif %}
{% block action_form %}
    <form id="actions_form_id">
    {% if actionform %}
    {% crispy actionform %}
    {% endif %}
    </form>
{% endblock %}
{% endblock %}

{% block action_table_block %}
    {% if event %}
    <div class="row">
        <div class="col">
            <div class="table table-striped" hx-trigger="update_actions from:body" hx-get="{% url 'core:form_event_list_action' event.pk 'True' %}">
                {% include 'core/partials/table_action.html' with editable=True %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block attachments_block %}
    {% if event %}
        <div class="row">
            <div class="col mt-5">
                <h3>{% trans 'Add Attachments' %}</h3>
            </div>
        </div>
    {% endif %}
{% block attachments_form %}
    <form id="attachments_form_id">
    {% if attachmentform %}
    {% crispy attachmentform %}
    {% endif %}
    </form>
{% endblock %}
{% endblock %}

{% block attachments_table %}
    {% if event %}
    <div class="row">
        <div class="col">
            <div class="table table-striped" hx-trigger="update_attachments from:body" hx-get="{% url 'core:form_event_list_attachment' event.pk 'True' %}">
                {% include 'core/partials/table_attachment.html' with editable=True %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
</div>