{% load i18n %}

<div id="errors" hx-swap="outerHTML">
    {% for event, error_list in validation_errors.items %}
    <div id="div_validation_error_id" class="card mb-3">
        <div class="card-header">
            <div class="card-title">{% trans 'Event' %} {{ event }}</div>
        </div>
        <div class="card-body">
            <ul>
                {% for error in error_list %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

    {% for file, error_list in errors.items %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="card-title">{{ file }}</div>
            </div>
            <div class="card-body">
                <ul>
                    {% for error in error_list %}
                        <li>{{ error.get_type_display }}: {{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
