{% load crispy_forms_tags %}
{% load i18n %}
{% load bootstrap_icons %}

<form id="id_form_load_samples" hx-encoding="multipart/form-data" onkeydown="return event.key != 'Enter';">
    <input type="hidden" name="mission_id" value="{% if mission %}{{ mission.pk }}{% endif %}">
    <div class="row mb-2">
        <div class="col">
            {# choose file input #}
            <input id="id_input_sample_file" class="form-control form-control-sm"
                   type="file" name="sample_file" accept=".dat,.csv,.xls,.xlsx,.xlsm"
                   hx-trigger="change, reload_sample_file from:body"
                   hx-post="{% url 'core:form_sample_type_get_headers' %}"
                   hx-indicator="#div_id_indicator_sample_config"
                   hx-target="#div_id_sample_config_form_content"
            />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div id="div_id_sample_config_form_content"></div>
        </div>
    </div>
</form>
