{% load i18n %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

<div id="div_id_sample_type_form" class="card mt-2">
<div class="card-header">
    <div class="card-title row">
    {% if expanded %}
        <button type="button" class="btn btn-light btn-sm col-auto" data-bs-toggle="collapse"
                href="#div_id_sample_type_card_body" aria-expanded="true">{% custom_icon 'caret-down' %}</button>
    {% else %}
        <button type="button" class="btn btn-light btn-sm col-auto collapsed" data-bs-toggle="collapse"
                href="#div_id_sample_type_card_body" aria-expanded="false">{% custom_icon 'caret-down' %}</button>
    {% endif %}
        <h6 class="col align-self-end">{% if sample_type.pk %}{% trans 'Edit Sample Type' %}{% else %}{% trans 'New Sample Type' %}{% endif %}</h6>
        <button type="button" class="col-auto btn btn-secondary btn-sm"
                            hx-get="{% url 'core:sample_type_edit' %}"
                            hx-target="#div_id_sample_type_form"
                            hx-swap="outerHTML"
                title="{% trans "Clear Form" %}"
        >{% custom_icon 'eraser' %}</button>
    </div>
</div>
<div id="div_id_sample_type_card_body" class="collapse {% if expanded %}show{% endif %}">
<div class="card-body">
{% crispy sample_type_form %}
</div>
{# using the card-footer to create a hook where buttons can be programatically added if the form is to be reused #}
<div id="div_id_sample_type_button_row" class="card-footer">
    <div id="div_id_sample_type_button_col" class="col text-end">
        {% if sample_type %}
            {# if a sample_type is provided then we're editing an existing sample_type #}
        <button class="btn btn-primary btn-sm"
            hx-post="{% url 'core:sample_type_save' sample_type.pk %}"
            hx-target="#div_id_sample_type_form"
            hx-select="#div_id_sample_type_form"
            hx-swap="outerHTML"
            hx-select-oob="#div_id_sample_type_{{ sample_type.pk }}"
                title="{% trans "Update sample type" %}"
        >{% custom_icon 'arrow-clockwise' %}</button>
        {% else %}
            {# if a sample_type isn't provided then we're creating a new sample_type #}
        <button id="button_id_new_sample_type_submit" name="new_sample" class="btn btn-primary btn-sm"
            hx-post="{% url 'core:sample_type_save' %}"
            hx-target="#div_id_sample_type_form"
            hx-select="#div_id_sample_type_form"
            hx-swap="outerHTML"
            hx-select-oob="#div_id_loaded_sample_types:afterbegin"
                title="{% trans "Create New Sample Type" %}"
        >{% custom_icon 'plus-square' %}</button>
        {% endif %}

    </div>
</div>
</div>
</div>
