{% load crispy_forms_tags %}
{% load i18n %}
{% load bootstrap_icons %}

{# picking a file will initialize the Sample Type and File Config forms by retrieving the file header column #}
{# Fill out the forms and use the add button to save the sample types for this kind of file #}
{# Once samples have been defined for the file, use the load button to load all the samples #}

{# Act 1: Form is included on a page. id_input_sample_file is visible #}
{# Act 2: user selectes a file using id_input_sample_file input, Sample Type #}
{#        and File config are returned and swapped in at div_id_loaded_samples_list #}
{# Act 3: User clicks add new sample type button #}
{# Act 3.1: If a user types in the Filter Datatype field, the BioChem Datatype #}
{#        field will be filtered based on space separated values of the field #}
{#        in the BCDataType.description field #}
{# Act 4: The user clicks the 'add' button to add the sample type to a list of #}
{#        sample types to load from files with this type of header #}
{# Act 5: The user clicks the 'edit' button to open the sample form populated with the #}
{#        selected sample type and configuration  #}
{# Act 6: The user clicks the 'load' button to submit all the sample types with the #}
{#        file and the parsers use the file config settings to load data from the files #}
<form id="id_form_load_samples" hx-encoding="multipart/form-data" onkeydown="return event.key != 'Enter';">
    <input type="hidden" name="mission_id" value="{{ mission.pk }}">
{% block file_input_form_block %}
    <div class="row">
        <div class="col">
            {# choose file input #}
            <input id="id_input_sample_file" class="form-control form-control-sm"
                   type="file" name="sample_file" accept=".dat,.csv,.xls,.xlsx,.xlsm"
                   hx-trigger="change, reload_sample_file from:body"
                   hx-get="{% url 'core:mission_samples_load_sample_config' %}?mission_id={{ mission.pk }}"
            />
        </div>
        <div class="col-auto">
            <button class="btn btn-primary btn-sm" name="add_sample"
                hx-get="{% url 'core:mission_samples_new_sample_config' %}"
                hx-target="#div_id_sample_type_holder"
            >{% custom_icon 'plus-square' %}</button>
        </div>
    </div>
    <div id="div_id_sample_type_holder">{# Anchor point for file message and new/update sample type form #}</div>
    <div id="div_id_loaded_sample_type">
        <div id="div_id_loaded_samples_list">{# anchor point for previously loaded file configurations #}</div>
    </div>
{% endblock %}
</form>
