{% load i18n %}

<div class="row mt-2" hx-ext="ws" ws-connect="/ws/notifications/">
{% block notifications %}
    <div id="notifications" >
    {% if msg %}
        <div class="row">
            <div class="col-1">{% trans "Status :" %}</div>
            <div id="status" class="col-auto">
                {{ msg }}
            </div>
        </div>
    {% endif %}

    {% if hx %}
        <div hx-swap="{{ hx.swap }}" hx-target="{{ hx.target }}" hx-trigger="{{ hx.trigger }}" hx-get="{{ hx.get }}"></div>
    {% endif%}

    {% if queue %}
    <div class="progress" role="progressbar" aria-valuenow="{{ queue }}" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: {{ queue }}%">{{ queue }}%</div>
    </div>
    {% endif %}
    </div>
{% endblock %}
</div>
