{% load i18n %}
{% load bootstrap_icons %}

<table id="attachment_table_id" class="table table-striped table-sm">
    <thead>
    <tr class="bg-light">
        <th>{% trans 'Attachments' %}</th>
        {% if editable %}<th>{# space for the edit button #}</th><th>{# space for the delete button #}</th>{% endif %}
    </tr>
    </thead>
    <tbody id="tbody_attachment_table_id" hx-target="closest tr" hx-swap="outerHTML">
    {% for atta in event.attachments.all %}
        {% block attachments_row_block %}
        <tr id="attachment-{{ atta.pk }}">
            <td class="col">{{ atta.name }}</td>
            {% if editable %}
            <td class="d-sm-table-cell col-1" >
                <button name="edit_attachment" class="btn" hx-swap="none" hx-get="{% url 'core:form_event_edit_attachment' database atta.pk %}">
                    {% custom_icon 'pencil' %}</button>
            </td>
            <td class="d-sm-table-cell col-1">
                <button name="delete_attachment" class="btn" hx-confirm="{% trans 'Are you sure?' %}" hx-delete="{% url 'core:form_event_delete_attachment' database atta.pk %}">{% custom_icon 'dash-square' %}</button>
            </td>
            {% endif %}
        </tr>
        {% endblock %}
    {% empty %}
        <tr><td>{% trans "None" %}</td></tr>
    {% endfor %}
    </tbody>
</table>
