{% block event_table %}
<table id="event_table" class="col table table-striped" hx-swap="outerHTML" hx-trigger="event_updated from:body" hx-get="{% url 'core:form_trip_get_events' trip.pk %}">
    <thead>
        <tr>
            <th>Event</th>
            <th>Station</th>
            <th>Instrument</th>
        </tr>
    </thead>
    <tbody id="event_table_body">
    {% for event in trip.events.all %}
        {% block event_table_row %}
        <tr id="event-{{ event.pk }}" class="{% if event.validation_errors.exists %}eventErr{% endif %} {% if selected %}selectedBg{% endif %}" hx-trigger="click" hx-swap="outerHTML" hx-select="#event-{{ event.pk }}" hx-get="{% url "core:form_event_selected_event" event.pk %}">
            <td>{{ event.event_id }}</td>
            <td>{{ event.station.name }}</td>
            <td>{{ event.instrument.name }}</td>
        </tr>
        {% endblock %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}