{% block event_table %}
<table id="event_table" class="table table-striped">
    <thead>
        <tr>
            <th>Event</th>
            <th>Station</th>
            <th>Instrument</th>
        </tr>
    </thead>
    <tbody>
    {% for event in mission.events.all %}
        <tr id="event-{{ event.event_id }}" hx-swap="outerHTML"
            hx-get="{% url 'core:hx_select_event' mission.pk event.pk %}" hx-swap="outerHTML"
            hx-target="#div_event_details_id" hx-on="click: update_selected({{ event.event_id }})"
            {% if event.validation_errors.all %} class="eventErr" {% endif %}>
            <th>{{ event.event_id }}</th>
            <td>{{ event.station.name }}</td>
            <td>{{ event.instrument }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}